<!DOCTYPE html>

<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

<title>Student Enrollment Page</title>

<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
 <link href="webjars/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body>

	<div>

	<h1>Student Enrollement Form</h1>

	<form action="#" th:action="@{/save}" th:object="${student}"
		method="post">

		<table>

			<tr>
				<td width="10%">FirstName</td>

				<td width="90%" align=left><input type="text"
					th:field="*{firstName}" /> <label
					th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
					th:class="'error'">Error in First Name<label></td>

			</tr>





			<tr>
				<td>LastName</td>

				<td>

				<input type="text" th:field="*{lastName}" />

				<label th:if="${#fields.hasErrors('lastName')}"
					th:errors="*{lastName}" th:class="'error'">Error in Last
					Name<label></td>
			</tr>




			<tr>
				<td>Email</td>
				<td>

				<input type="text" th:field="*{email}" />

				<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
					th:class="'error'">Error in Email<label></td>
			</tr>



			<tr>
				<td>Gender</td>

			<td>
				<input type="radio" th:field="*{sex}" value="M" />
				<label>Male</label>
				<input type="radio" th:field="*{sex}" value="F" />
				<label>Female</label>

				<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
					th:class="'error'">Error in Email<label></td>
			</tr>





			<tr>
				<td>country</td>

				<td><select th:field="*{country}">

						<option th:each="country : ${countries}" th:value="${country}"
							th:text="${country}">Country</option>

				</select> <label th:if="${#fields.hasErrors('country')}"
					th:errors="*{country}" th:class="'error'">Error in Country<label></td>
				</td>
			</tr>



			<tr>
				<td>Section</td>

				<td><select th:field="*{section}">

						<option th:each="section : ${sections}" th:value="${section}"
							th:text="${section}">Section</option>

				</select> <label th:if="${#fields.hasErrors('section')}"
					th:errors="*{section}" th:class="'error'">Error in Section<label></td>
				</td>
			</tr>

		</table>
		
			 <div class="text-center">
				<input type="submit"  class='btn btn-success'  value="Enroll" />
            </div>
		
	</form>
	</div>
</body>

</html>