.error {
	color: red;
	font-size: 15px;
}

.user {
	color: blue;
	font-size: 15px;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid lightblue;
}

.text-center {
  border-radius: 15px;
 
	margin-top: 0.67em;
	margin-right: 45em;

}